.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.layout{
    min-height: 100vh;
    /* min-width: 480px; */
    /* max-width: 1000px;
    margin: 0 auto; */
}

.content{
    /* max-width: 900px; */
    /* margin: 0 auto; */
  }