.record-list{
    width: 100%;
}

.record-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-item{
    margin-top: 20px;
}